
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="profile" href="http://gmpg.org/xfn/11" />
	<link rel="pingback" href="https://emilygrace.pixandhue.com/xmlrpc.php" />

			<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" 
            integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" 
            crossorigin="anonymous">
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Prompt">
<link href="css/css1.css" rel="stylesheet">
<LINK REL="SHORTCUT ICON" HREF="pic/overlogo.ico" >
	<title>WANWIOLA</title>
	<link href="https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap" rel="stylesheet">

<link rel="alternate" type="application/rss+xml" title="Emily Grace &raquo; Feed" href="https://emilygrace.pixandhue.com/feed/" />
<link rel="alternate" type="application/rss+xml" title="Emily Grace &raquo; Comments Feed" href="https://emilygrace.pixandhue.com/comments/feed/" />
		<script type="text/javascript">
			window._wpemojiSettings = {"baseUrl":"https:\/\/s.w.org\/images\/core\/emoji\/13.0.0\/72x72\/","ext":".png","svgUrl":"https:\/\/s.w.org\/images\/core\/emoji\/13.0.0\/svg\/","svgExt":".svg","source":{"concatemoji":"https:\/\/emilygrace.pixandhue.com\/wp-includes\/js\/wp-emoji-release.min.js?ver=5.5.1"}};
			!function(e,a,t){var r,n,o,i,p=a.createElement("canvas"),s=p.getContext&&p.getContext("2d");function c(e,t){var a=String.fromCharCode;s.clearRect(0,0,p.width,p.height),s.fillText(a.apply(this,e),0,0);var r=p.toDataURL();return s.clearRect(0,0,p.width,p.height),s.fillText(a.apply(this,t),0,0),r===p.toDataURL()}function l(e){if(!s||!s.fillText)return!1;switch(s.textBaseline="top",s.font="600 32px Arial",e){case"flag":return!c([127987,65039,8205,9895,65039],[127987,65039,8203,9895,65039])&&(!c([55356,56826,55356,56819],[55356,56826,8203,55356,56819])&&!c([55356,57332,56128,56423,56128,56418,56128,56421,56128,56430,56128,56423,56128,56447],[55356,57332,8203,56128,56423,8203,56128,56418,8203,56128,56421,8203,56128,56430,8203,56128,56423,8203,56128,56447]));case"emoji":return!c([55357,56424,8205,55356,57212],[55357,56424,8203,55356,57212])}return!1}function d(e){var t=a.createElement("script");t.src=e,t.defer=t.type="text/javascript",a.getElementsByTagName("head")[0].appendChild(t)}for(i=Array("flag","emoji"),t.supports={everything:!0,everythingExceptFlag:!0},o=0;o<i.length;o++)t.supports[i[o]]=l(i[o]),t.supports.everything=t.supports.everything&&t.supports[i[o]],"flag"!==i[o]&&(t.supports.everythingExceptFlag=t.supports.everythingExceptFlag&&t.supports[i[o]]);t.supports.everythingExceptFlag=t.supports.everythingExceptFlag&&!t.supports.flag,t.DOMReady=!1,t.readyCallback=function(){t.DOMReady=!0},t.supports.everything||(n=function(){t.readyCallback()},a.addEventListener?(a.addEventListener("DOMContentLoaded",n,!1),e.addEventListener("load",n,!1)):(e.attachEvent("onload",n),a.attachEvent("onreadystatechange",function(){"complete"===a.readyState&&t.readyCallback()})),(r=t.source||{}).concatemoji?d(r.concatemoji):r.wpemoji&&r.twemoji&&(d(r.twemoji),d(r.wpemoji)))}(window,document,window._wpemojiSettings);
		</script>
  </head>
  <style>
    .card {
      box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
      transition: 0.3s;
      width: 170px;
    }
    
    .card:hover {
      box-shadow: 0 8px 16px 0 rgba(117, 89, 89, 0.2);
    }
    
    .container {
      padding: 2px 16px;
    }
    </style>
  <body>

    	
	<header>
		<nav class="navbar navbar-expand-md navbar-dark fixed-top " style="background-color: #f5efed;">
		  <a class="navbar-brand" href="/home"><img src="pic/logowan.png" width="150px"></a>
		  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		  </button>
		  <div class="collapse navbar-collapse" id="navbarCollapse">
			<ul class="navbar-nav mr-auto">
			  <li class="nav-item active">
				<a class="nav-link" href="/home"  style="color: #000000;font-family: 'Kanit', sans-serif">หน้าหลัก <span class="sr-only">(current)</span></a>
			  </li>
			  <li class="nav-item">
				<a class="nav-link" href="/about"  style="color: #000000;font-family: 'Kanit', sans-serif">about us</a>
			  </li>
			  <li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" style="color: #000000;font-family: 'Kanit', sans-serif">product</a>
				<div class="dropdown-menu">
				  <a class="dropdown-item" href="/product1" style="background-color:#f5efed ;">wiola - detox</a>
				  <a class="dropdown-item" href="/product2" style="background-color:#f5efed ;">wiola - collagen</a>
			
				</div>
			  </li>
			  <li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" style="color: #000000;font-family: 'Kanit', sans-serif">shop media</a>
				<div class="dropdown-menu">
				  <a class="dropdown-item" href="https://www.instagram.com/wanwiola/?igshid=1xyogx2mzbwhz" style="background-color:#f5efed ;">ig</a>
				  <a class="dropdown-item" href="https://shopee.co.th/wanwiola.official?smtt=0.0.9" style="background-color: #f5efed ;" >shopee</a>
				</div>
			  </li>
			  <li class="nav-item">
				<a class="nav-link " href="/order"  style="color: #000000;font-family: 'Kanit', sans-serif">order</a>
			  </li>
			  <li class="nav-item">
				<a class="nav-link " href="/contact"  style="color: #000000;font-family: 'Kanit', sans-serif">contact us</a>
			  </li>
			</ul>
			<form class="form-inline mt-2 mt-md-0">
			  
			<%if (isLoggedIn==false) { %>
					<a href="/register">  <button type="button" class="w3-button w3-black w3-round-xlarge" style="background: #fdd900;color: dimgray;font-family: 'Kanit', sans-serif ; border-color: #fdd900;">สมัครสมาชิก </a> </button> &nbsp; &nbsp;
					<a href="/login"> <button type="button" class="w3-button  w3-round-xlarge" style="background: #fdd900;color: dimgray;font-family: 'Kanit', sans-serif ; border-color: #fdd900;">เข้าสู่ระบบ</a></button>
				  <% } %>
				  <%if (isLoggedIn) { %>
					<a href="/profile">  <button type="button" class="w3-button w3-black w3-round-xlarge" style="background: #fdd900;color: dimgray;font-family: 'Kanit', sans-serif ; border-color: #fdd900;"><%= username %> </a> </button> &nbsp; &nbsp;
				  <% } %>
			</form>
		  </div>
		</nav>
	  </header>
<br>
<br>
  <center>  
    <div class="container-fluid" style="background:#fcf8e3 ;">
        <br><br>
        <center><img src="pic/about.jpg" width="300px">   <img src="pic/about2.jpg" width="300px">  <img src="pic/about3.jpg" width="300px"> <br><br>
</div> </center>


      <!-- Marketing messaging and featurettes
      ================================================== -->
      <!-- Wrap the rest of the page in another container to center all the content. -->

<div class="container-fluid">

        
  <div class="row">
    <div class="col-sm-1" style="background: #fff2eb">

    </div>
    <div class="col-sm-10" style="background: #ffffff;">
      <br><br><br>
     <center><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3871.994746274229!2d100.73773231493617!3d13.9589182902137!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x311d79cf5063aecb%3A0xb58f219cf1102826!2z4Lia4Lij4Li04Lip4Lix4LiXIOC5gOC4p-C4peC5gOC4meC4qiDguIjguLUg4LiI4Liz4LiB4Lix4LiU!5e0!3m2!1sth!2sth!4v1606031529512!5m2!1sth!2sth" 
      width="1100" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe> </center> 
    
<br><br>
  
    </div>
    <div class="col-sm-1" style="background: #fff2eb;">
     
    </div>
  </div>
</div>

<div class="container-fluid" >
    <div class="row" >
<div class="col-sm-1" style="background: #fff2eb;">
</div>
<div class="col-sm-3">
  <center>  <div class="card">
        <center><img src="https://www.flaticon.com/svg/static/icons/svg/732/732200.svg" alt="Avatar" width="100px" width="100px">
           <div class="container">
             <h4><b>email</b></h4> 
             <p>Wanwiola@gmail.com</p> 
           </div>
         </div></center>
         
</div>
<div class="col-sm-3">
   <center><div class="card">
    <center><img src="https://www.flaticon.com/svg/static/icons/svg/2928/2928892.svg" alt="Avatar" width="100px" width="100px">
        <div class="container">
          <h4><b>location</b></h4> 
          <a href="https://goo.gl/maps/mSSmFiGEduKqAnCPA">Wanwiola company</a> 
        </div>
      </div></center> 
</div>
<div class="col-sm-4">
  <center> <div class="card">
    <center><img src="https://www.flaticon.com/svg/static/icons/svg/552/552489.svg" alt="Avatar" width="100px" width="100px">
        <div class="container">
          <h4><b>phone</b></h4> 
          <p>086-3923394</p> 
        </div>
      </div>

      <br><br><br><br>

      <marquee direction="lefe" scrollamount="6" > <img src="pic/pro1.jpg" width="200px">
        <img src="pic/pro2.jpg" width="200px"> <img src="pic/pro3.jpg"  width="200px">
    </marquee>
    
    <br><br>
    <br>
</div>
<div class="col-sm-1" style="background: #fff2eb;">

</div>
    </div>

</div>
    
    
<!-- Footer -->



<footer  style="background:	#fcf4f3;">
	<br><br>
	<div class="container text-center text-md-left mt-5">

		<!-- Grid row -->
		<div class="row mt-3">
	
		  <!-- Grid column -->
		  <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
	
			<!-- Content -->
			<h6 class="text-uppercase font-weight-bold">WANWIOLA</h6>
			<hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
			<p style="color: #d69588;"> &copy; บริษัท ผลิตภัณฑ์อาหาร เสริมแบรนด์ วันวิโอลา จำกัด</p>
	
		  </div>
		 
	
		  <!-- Grid column -->
		  <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
	
			<!-- Links -->
			<h6 class="text-uppercase font-weight-bold">Products</h6>
			<hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
			<p>
			  <a href="#!">WIOLA - Detox</a>
			</p>
		
	
		  </div>
		
	
		  <!-- Grid column -->
		  <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
	
			<!-- Links -->
			<h6 class="text-uppercase font-weight-bold">Useful links</h6>
			<hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
			<p>
			  <a href="/about">About us</a>
			</p>
			<p>
			  <a href="#!">Shop Media</a>
			</p>
			<p>
			  <a href="/review">รีวิว</a>
			</p>
			
	
		  </div>

	
		  <!-- Grid column -->
		  <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
	
			<!-- Links -->
			<h6 class="text-uppercase font-weight-bold">Contact</h6>
			<hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
			<p>
			  <i class="fas fa-home mr-3"></i> bangkok, 2020, TH</p>
			<p>
			  <i class="fas fa-envelope mr-3"></i> wanwiola.official@gmail.com</p>
			<p>
			  <i class="fas fa-phone mr-3"></i> + 08 639 233 94</p>
			<p>
			  <i class="fas fa-print mr-3"></i> + 08 193 252 59</p>
	
		  </div>
		  <!-- Grid column -->
	
		</div>
		<!-- Grid row -->
	
	  </div>
    <br>
    <center>
	 <a href="https://www.instagram.com/wanwiola/?igshid=1xyogx2mzbwhz"><img src="https://www.flaticon.com/svg/static/icons/svg/2111/2111463.svg" width="22px"> 
	<img src="https://www.flaticon.com/svg/static/icons/svg/145/145802.svg" width="22px">
	<img src="https://www.flaticon.com/svg/static/icons/svg/733/733579.svg" width="22px">
	<img src="https://www.flaticon.com/svg/static/icons/svg/1384/1384060.svg" width="22px"><br><br></a>
	<p>© 2020 · The Wanwiola Company </p>
	<br><br><br></center>
  </footer>
 
     
</body>
										</html>
									